.bg-container {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-container {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  /* padding: 20px; */
  border-radius: 16px;
  min-height: 350px;
}

@media screen and (min-width: 768px) {
  .login-container {
    max-width: 400px;
    flex-shrink: 0;
    box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
    padding: 48px 64px 48px 64px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error-field {
  border: 1px solid #ff0b37;
  background-color: #fef2f4;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #ffffff;
}

.logo {
  height: 50px;
  width: 100px;
}

.name-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: transparent;
  color: #f1f5f9;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
